.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--third-black);
  padding: 15px;
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

.task:not(:first-child) {
  margin-top: var(--margin);
}

.actionButton {
  display: flex;
  align-items: center;
  align-self: flex-end;
  padding: 5px;
  border-radius: var(--border-radius);
}

.actionButton.edit {
  background-color: var(--main-blue);
}

.actionButton.delete {
  background-color: var(--main-red);
  margin-left: 15px;
}
