:root {
  --main-bg-color: #191919;
  --main-green: #73956f;
  --main-red: #904e55;
  --main-blue: #6369d1;
  --main-black: #454851;
  --secondary-black: #0d0d0d;
  --third-black: #292b2f;
  --main-white: #f2f4f3;
  --box-shadow: rgba(99, 105, 209, 0.16) 0px 3px 6px;
  --margin: 25px;
  --border-radius: 4px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #191919;
  color: #f2f4f3;
  font-size: 16px;
}

.App {
  display: flex;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

main > * {
  width: 100%;
}

input {
  padding: 10px;
  background-color: var(--main-black);
  border: none;
  border-radius: var(--border-radius);
  color: var(--main-white);
  transition: box-shadow 0.1s ease-out, background-color 0.1s ease-out;
}

input:hover,
input:focus {
  box-shadow: 0px 0px 0px 2px var(--main-blue) inset;
}

input:focus {
  background-color: var(--secondary-black);
}

.taskList {
  overflow-y: auto;
  margin: var(--margin) 0 var(--margin) 0;
  border-radius: var(--border-radius);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 33%;
  background-color: var(--main-blue);
  border-radius: 4px;
  border: none;
  color: var(--main-white);
  font-size: 1rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: filter 0.1s ease-out;
}

button > svg {
  margin-right: 5px;
}

button:hover {
  filter: brightness(125%);
}
